<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
	
<hibernate-configuration>
    <session-factory>
    
    	<property name="connection.driver-class">com.mysql.jdbc.Driver</property>
    	<property name="connection.url">jdbc:mysql://localhost:3306/hibernateDatabase</property>
    	<property name="connection.username">root</property>
    	<property name="connection.password">Yuqls#345</property>
    	<property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    	<property name="hbm2ddl.auto">create</property>
    	<property name="show_sql">true</property>
    	
    	<mapping class="com.hybernate.hyber_demo_proj.Student"></mapping>
    	<mapping class="com.hibernateonetoone.Department"/>
    	<mapping class="com.hibernateonetoone.Employee"/>
    	
    </session-factory>
</hibernate-configuration>
